<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5 shadow">
                <h3 class="card-header bg-info text-white">{{data['name']}}</h3>

                <!-- Weather details of the city -->
                <div class="card-body" *ngIf="data">
                    <p><span class="badge badge-info">Country</span>  <span class="float-right">{{data['sys']['country']}}</span></p>
                    <p><span class="badge badge-info">Pressure</span>  <span class="float-right">{{data['main']['pressure']}}</span></p>
                    <p><span class="badge badge-info">Weather</span>  <span class="float-right">{{data['weather'][0]['description']}}</span></p>
                    <p><span class="badge badge-info">Sunrise</span>  <span class="float-right">{{data['sys']['sunrise']}}</span></p>
                    <p><span class="badge badge-info">Sunset</span>  <span class="float-right">{{data['sys']['sunset']}}</span></p>
                    <p><span class="badge badge-info">Latitude</span>  <span class="float-right">{{data['coord']['lat']}}</span></p>
                    <p><span class="badge badge-info">Longitude</span>  <span class="float-right">{{data['coord']['lon']}}</span></p>
                </div>


                <div class="card-footer">
                    <div class="row">
                        <div class="col-md-8">
                            <input type="text" [(ngModel)]="city_name" class="form-control">
                        </div>

                        <div class="col-md-4">
                            <button class="btn btn-outline-primary btn-block" (click)= "getWeather()">Get Details</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


